/** index.css er designet til hoved siden. Inneholder firkantene med bilder man ser og overlay animasjonen. **/
/** Grid egenskaper for forsiden **/
#square {
	display: table;
	width: 100%
	height: 400px;
	margin: 0 auto;
	border: 0px solid #000;
	overflow: hidden;
	border-spacing: 10px;
}

#square .row {
	display: table-row;
}

#square .block {
	width: 250px;
	height: 400px;
	border: 0.5px solid #000;
	display: table-cell;
	position: relative;
}

#square .block h1 {
	position: absolute;
	width: 246px;
	height: 40px;
	line-height: 40px;
	top: 10px;
	margin: auto;
	color: white;
	font-weight: bold;
	letter-spacing: 1.5px;
	text-shadow: 2px 2px 4px black, 2px 2px black;
}

/** Overlay egenskaper når man hoverer over en square **/
.overlay {
	width: 250px;
	height: 400px;
	background-color: black;
	position: absolute;
	opacity: 0;
	transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	-webkit-transition: opacity 0.5s;
	color: white;
}

/** Tekst wrapping til overlay **/
.overlay p {
	padding-top: 0px;
	margin-top: -20px;
	padding: 30px;
}

/** Egenskaper til bildet i overlay **/
.overlay img {
	padding: 5px;
	padding-top: 80px;
	padding-bottom: 0px;
	width: 100px;
	height: 100px;
}

/** Individuelle animasjoner og bakgrunnsbilder for div'ene **/
#square .one {
	background-image: url("../img/kultur.jpg");
	background-size: cover;
}

#square .one:hover .overlay {
	opacity: 0.8;
}

#square .two {
	background-image: url("../img/butikk.jpg");
	background-size: cover;
}

#square .two:hover .overlay {
	opacity: 0.8;
}

#square .three {
	background-image: url("../img/helse.jpg");
	background-size: cover;
}

#square .three:hover .overlay {
	opacity: 0.8;
}

#square .four {
	background-image: url("../img/tjenester.jpg");
	background-size: cover;
}

#square .four:hover .overlay {
	opacity: 0.8;
}