/** subsection.css inneholder design til de første undersidene
	til kultur, mat & drikke, helse og tjenester. **/

/** Wrapper rundt content */
#content-wrapper {
	width: 1220px;
	margin: 0 auto;
	position: relative;
}

/** Egenskaper til content div **/
#content-wrapper .content {
	position: relative;
	width: 500px;
	height: 350px;
	overflow: hidden;
	border: 2px solid black;
	margin: 30px;
	margin-left: 50px;
	padding: 10px;
	float: left;
	box-shadow: 10px 10px 5px #888;
}

/** Egenskaper til picture-div under content **/
.content .picture {
	width: 180px;
	height: 180px;
	float: left;
	margin-right: 20px;
	margin-bottom: 10px;
	box-shadow: 5px 5px 5px #888;
}

/** Ekstra egenskaper til selve img-taggen **/
.content img {
	width: 180px;
	height: 180px;
	border: 1px solid #000;
}

/** Egenskaper for les mer knappen **/
.content .read {
	position: absolute;
	bottom: 15px;
	right: 15px;
}

/** Lenke egenskaper til read-div **/
.content .read a {
	border: 1px solid #000;
	border-radius: 25px;
	background-color: #fff;
	color: #000;
	width: 120px;
	height: 40px;
	display: block;
	font-size: 20px;
	text-decoration: none;
	font-weight: bold;
	line-height: 40px;
}

.content a:hover {
	border: 1px solid #fff;
	background-color: #000;
	color: #fff;
}

h1 {
	font-size: 4em;
	margin: 0px;
}

/** Egenskaper til tittel for content **/
.content h2 {
	margin-right: 20px;
	margin-bottom: 0px;
	text-decoration: none;
}

/** Egenskaper til wrapper rundt teksten **/
.content p {
	margin-top: 0px;
	padding: 20px;
	text-align: left;
}