/** subsection.css inneholder design til de første undersidene
	til kultur, mat & drikke, helse og tjenester. **/
#content-wrapper {
	width: 1250px;
	margin: 0 auto;
	position: relative;
}

#content-wrapper .content {
	position: relative;
	width: 550px;
	height: 400px;
	overflow: hidden;
	border: 2px solid black;
	border-radius: 20px;
	margin: 25px;
	padding: 10px;
	float: left;
}

.content .picture {
	width: 200px;
	height: 200px;
	float: left;
	margin-right: 20px;
}

.content img {
	width: 200px;
	height: 200px;
}

.content .lesmer {
	width: 100%;
	height: 32px;
	text-align: left;
	font-size: 32px;
	padding-left: 20px;
	padding-bottom: 20px;
	text-decoration: underline;
	position: absolute;
	bottom: 0;
}

.content h1 {
	margin-right: 20px;
	margin-bottom: 0px;
	text-decoration: underline;
}

.content p {
	margin-top: 0px;
	padding: 20px;
	text-align: left;
}